@import '../core/variables';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $mainFont;
  color: $blackest;
}
a:hover {
  text-decoration: none;
}
body {
  background-color: $medium1;
}
